body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

header {
    height: 8vh;
    width: 100%;
}

hr {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 2vh;
    border: 0;
    background-color: #CE9704;
    margin-top: -1vw;
    padding: 0px;
}

.main {
    height: 80vh;
    width: 100%;
}

.background {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    width: 100%;

}

.background-1 {
    background-image: url('/img/image11.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 26vw;
    height: 21vw;


}

.background-2 {
    background-image: url('/img/image22.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-left: 7vw;
    width: 26vw;
    height: 15vw;

}

.background-3 {
    background-image: url('/img/image33.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-left: -3vw;
    width: 18vw;
    height: 26vw;

}

.background-4 {
    background-image: url('/img/image44.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -9vw;
    margin-bottom: 3vw;
    width: 18vw;
    height: 13vw;
}

.background-5 {
    padding: 0px;
    margin: 0px;
    background-image: url('/img/image55.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 23vw;
    height: 35vw;
    margin-left: -5vw;
}

.main__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10vw;
    position: absolute;
    padding: 20vh 2vw;
    width: 100vw;
    top: 0;
    left: 0;
}

.main__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 5vw;
}

.main__text p {
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    font-weight: 300;

}

.main__button-to {
    width: 20vw;
    min-width: max-content;
    background-color: #CE9704;
    padding: 1vw;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    color: white;
    border-color: #CE9704;

}

.main__logo {
    background-image: url(/img/Reborn\ Hospitality\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30vh;
    height: 32vh;
}

footer {
    height: 6vh;
}

footer p {
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    margin-left: 2vw;
}

@media (max-width:900px) {
    .main__info {
        gap: 5vw
    }

    .main__text {
        justify-content: center;
    }

    .main__text p {
        font-size: 16px;
        font-weight: 500;
        width: 100%;
    }

    .main__button-to {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
    }

}

@media (max-width:450px) {
    hr {
        margin-top: -8px;
    }

    .background-1 {
        display: none;
    }

    .background-2 {
        display: none;
    }

    .background-3 {
        height: 87vw;
        width: 46vw;
        margin-left: 0vw;
        margin-right: -10vw;
    }

    .background-4 {
        width: 43vw;
        height: 32vw;
        margin-left: -12vw;
    }

    .background-5 {
        height: 116vw;
        width: 72vw;
        position: relative;
        z-index: -1;
        margin-left: -30vw;
        margin-right: 0px;
    }

    .main__info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main__text {
        align-items: center;
        margin: auto;
        padding: 0px;
    }

    .main__text p {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        font-size: 16px;
    }

    .main__button-to {
        font-size: 16px;
    }

    footer p {
        font-size: 12px;
    }
}